---
export interface Props {
	post: any;
}

const { post } = Astro.props;

let categoryLink = "/categories/" + post.frontmatter.category.toLowerCase().replace(" ", "-"); 
let title = post.frontmatter.title.toString();
---

<article class="my-5 w-80 mx-5">
	<a href={post.url}>
		<img class="aspect-video object-cover rounded-t-xl" src={post.frontmatter.thumbnail} alt="">
		<div class="p-5 pt-2 rounded-b-xl flex bg-[#FFFFFF]/80 h-72">
			<div class="block w-full">
				<div class="h-[12rem] text-ellipsis overflow-hidden">
					<header>
						<div class="flex text-sm py-2">
							<p>{ post.frontmatter.publishDate } · <a href={categoryLink} class="bg-background p-1 px-2 rounded-full">{ post.frontmatter.category }</a></p>
						</div> 
	
					</header>
					<div class="overflow-hidden line-clamp-6">
						<p><a href={post.url} class="text-2xl font-bold my-2 hover:underline">{ title }</a></p>
						<p class="text-sm" class="my-1 text-grey">{post.frontmatter.description}</p>
					</div>
				</div>

				<a style="background: -webkit-linear-gradient(10deg, #c81aff, #ce82ff);" class="p-2 mt-4 rounded-md text-center text-[#FFFFFF] font-light block" href={post.url}>Read more</a>
			</div>
		</div>
	</a>
</article>
